/* Home.css */
.carousel-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .text-container {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #fff;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .text-container.middle {
    left: 60%; /* Move text to the right for the middle image */
    text-align: left;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .shop-now-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Add additional styling as needed */
  